.goals{
    border: solid 4px purple;height: 300px;
    width: 50%;
    padding-left: 100px;
    color: rgb(9, 2, 13);
    background-color: rgb(240, 232, 233);
}
#body{
    padding-left: 30%;
    margin-top: 10%;
    
    
}