body{
    margin-left: 0%;
    background: linear-gradient(#ffffff 100%);
}

nav{
    flex: 1;
    text-align: center;
    display: flex;
    gap: 600px;
}
 nav ul{
   display: inline-block;
   list-style-type: none;

}
 nav ul li{
    display: inline-block;
    margin-right: 20px;}
    a{
        text-decoration: none;
        color: #0b0202;
    }

#logo{
    width: 100px;
}
.navbar{
display: flex;
gap: 200px;
height: 70px;

}
nav a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color:rgb(197,224,239);
}
nav a:hover{
    background-color: rgb(241,255,198);

}
.nav{
    gap: 400px ;
}

#logo{
    width: 100px;
}
.navbar{
display: flex;
gap: 200px;

}
.nav{
    gap: 400px ;
}
#paragraph{
    margin-top: 8%;
    font-size: 40px;
}
#landingpage{
    display: flex;
    justify-content: space-between;
    color: purple;
    
}


.landingpage{
    width: 300px;
    padding-right: 120px;
    margin-top: 60px;
    
}



@media only screen and (min-width: 270px) and (max-width: 780px){
    #image{
        padding-right:none;
        margin-top:0px;
        width: 100px;
        flex-direction: column;
    }
    #paragraph{
        font-size: 10px;
        padding-right:20px ;
    }  
    #logo{
        width: 50px;
    }
    #landingpage{
        flex-direction: row;
        justify-content: space-between;
        color: purple;
        
    }
    body{
        margin-left: 2%;
       
    }
    nav a{
        color: black;
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;
        font-size: 10px;
        background-color:none;
    }
    nav a:hover{
        background-color: rgb(233, 198, 255);
    
    }

}
@media only screen and (min-width: 800px) and (max-width: 1024px){

    

}