.body{
    justify-content: center;
    padding-left: 30%;
    margin-top: 6%;
}
nav{
    flex: 1;
    text-align: center;
    display: flex;
    gap: 600px;
}
 nav ul{
   display: inline-block;
   list-style-type: none;

}
 nav ul li{
    display: inline-block;
    margin-right: 20px;}
    a{
        text-decoration: none;
        color: #0b0202;
    }

.profile{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    background-color: rgb(232, 188, 212);
    width: 70%;
    padding-left: 30px;
}
#image{
    border-radius: 60%;
    width: 300px;
    height: 300px;
    margin-top: 12%;
    

    
}
#profile{
    padding-left: 80px;
}