.body{
    background:lavender;
    padding-left: 0%;
      
     
}

nav ul li{
    display: inline-block;
    margin-right: 20px;}
    a{
        text-decoration: none;
        color: #0b0202;
    }
    nav a{
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        background-color:rgb(197,224,239);
    }
    nav a:hover{
        background-color: rgb(241,255,198);
    
    }
    .navbar{
        margin-bottom: 60px;
    }

#logo{
    width: 100px;
    padding-left: none;
}
.navbar{
    display: flex;
    margin-top: 10px;
    gap: 200px;
    padding-left: 80px;
}
.profile{
    display: flex;
    font-size: 15px;
    width: 80%;
    background-color: rgb(232, 188, 212);
    padding-left: 80px;
    margin-top: 30px;
    gap: 200px;
}
#image{
    border-radius: 60%;
    width: 300px;
    height: 300px;
    margin-top: 12%;
   
    

    
}
#profilephoto{
    padding-left: 0px;
}

    .mentor{
        padding-left: 100px;
    }
    @media only screen and (min-width: 270px) and (max-width: 780px){
        .landingpage{
            width: 100px;
            padding-right: none;
            margin-top: none;
            
        }
    
        #logo{
            width: 50px;
        }
        .navbar{
            flex-direction: column;
            gap: 90px;
        }
        .profile{
            display: flex;
            font-size: 15px;
            width: 80%;
            background-color: rgb(232, 188, 212);
            padding-left: 0px;
        }
        nav a{
            color: black;
            padding: 7px 8px;
            font-size: 10px;
            background-color:none;
        }
        nav a:hover{
            background-color: none;
        }
        
        #image{
            border-radius: 60%;
            width: 100px;
            height: 100px;
        }
        .foot{
            flex-direction: column;
            gap: 30%;
            background-color:black;
            color: white;
         
        
        }
        
        
    }
    @media only screen and (min-width: 800px) and (max-width: 1024px){
    
        
    
    }