#img{
    width: 120px;
    padding-left: 35%;
}
.paragrap{
    padding-left: 10%;
    font-family: sans-serif;
    font-size: 15px;
}
body{
    background-color: rgb(215, 199, 215);

}

@media only screen and (min-width: 270px) and (max-width: 780px){
    .paragrap{
        width: 100px;
        padding-right: none;
        margin-top: none;
        
    }
}