.body{
    background-color: lavender;
    padding-left: 5%;
}
.input{
        padding: 12px 14px;
        width: 300px;
        border: solid 1px;

    }
    #headertext{
        color: purple;
        padding-left: 300px;
    }
    .signup{
        padding-left: 300px;
    
    }
    #signup{
        border: solid 4px purple;
        padding: 24px;
        width: 40%;
    
        color: #3c093c;
    }

    .inputfield{
    
        border: none;
        display:grid;
        padding: 10px 12px;
    
        }
        nav{
            flex: 1;
            text-align: center;
            display: flex;
            gap: 600px;
        }
         nav ul{
           display: inline-block;
           list-style-type: none;
        
        }
         nav ul li{
            display: inline-block;
            margin-right: 20px;}
            a{
                text-decoration: none;
                color: #0b0202;
            }
    .button{
            padding: 14px 12 px;
            border: solid 1px;
            border-radius: 22px;
            background: purple;
            width: 200px;
            padding: 14px;
            color: white;
    
    }
    


@media only screen and (min-width: 270px) and (max-width: 600px){
    #signup{
        border: none;
        width: 25%;
        margin-top: 0;
        padding-left: 0;
        color: #3c093c;
    }
    .loginpage{
        padding-left: 0px;
    }
    .input{
        padding: 12px 14px;
        width: 200px;
       
     }
     .signup{
        padding-left: 8px;
    
    }
    .inputfield{
    
        border: none;
        display:grid;
        padding: 10px 12px;
    
        }
        #headertext{
            color: purple;
            padding-left: 10px;
        }
        .body{
            background-color: none;
            padding-left: 5%;
        }
}

@media only screen and (min-width: 800px) and (max-width: 1024px){
    #signup{
        border: none;
        width: 40%;
        margin-top: 0;
        padding-left: 0;
        color: #3c093c;
    }
    .loginpage{
        padding-left: 0px;
    }
    .input{
        padding: 12px 14px;
        width: 200px;
       
     }
     .signup{
        padding-left: 8px;
    
    }
    .inputfield{
    
        border: none;
        display:grid;
        padding: 10px 12px;
    
        }
        #headertext{
            color: purple;
            padding-left: 10px;
        }
        .body{
            background-color: none;
            padding-left: 5%;
        }
}